<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Deep Data Miners Inc.</title>
</head>
<body>

    <div class="title" id="mainHeader">
        <h2>Deep Games Data Hoard</h2>
    </div>

    <nav>
        <ul class="menu" id="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="players.handlebars">Players</a></li>
            <li><a href="games.html">Games</a></li>
            <li><a href="playerGames.html">Players Games</a></li>
            <li><a href="/Publishers">Publishers</a></li>
            <li><a href="/Platforms">Platforms</a></li>
        </ul>
    </nav>

    <br>
    <br>

    <form action="">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value=""><br><br>
        <input type="submit" value="Search">
    </form>
    <br>

    <h3>Games Table</h3>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Shaq-fu</td>
            <td>Fighting</td>
            <td>Electronic Arts</td>
            <td><button class="editbtn" title="click to edit entry">edit</button></td>
            <td><button class="removebtn" title="click to remove entry">remove</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Animal Crossing</td>
            <td>Social Simulaion</td>
            <td>Nintendo</td>
            <td><button class="editbtn" title="click to edit entry">edit</button></td>
            <td><button class="removebtn" title="click to remove entry">remove</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Goat Simulator</td>
            <td>Simulator</td>
            <td>Coffee Stain Studios</td>
            <td><button class="editbtn" title="click to edit entry">edit</button></td>
            <td><button class="removebtn" title="click to remove entry">remove</button></td>
        </tr>
        <tr>
            <td>4</td>
            <td><input type="text" id="gTitle" name="gTitle" value=""></td>
            <td><input type="text" id="genre" name="genre" value=""></td>
            <td><input type="text" id="publisher" name="publisher" value=""></td>
            <td><button class="addbtn" onclick="location.href='playerInfo.html';" title="click to add entry">add</button></td>
            <td></td>
        </tr>
    </table>

    <br>

</body>
</html>