<html>
    <h3>Publishers Table</h3>
	<form id='search_publisher' action="/publishers/search" method="post">
    <table>
        <thead>
            <th>Search</th>
        </thead>
		<tbody>
			<tr>
				<td><input type="text" name="publisherName" size="10" value=""></td>
				<td><input type="text" name="headquarters" size="10" value=""></td>
				<td></td>
				<td><input type="submit" value="Search"></td>
			</tr>
		</tbody>
    </table>
	</form>
    <br>
    <table>
        <thead>
            <th>Name</th>
            <th>Headquarters</th>
        </thead>
		<tbody>
		{{#each publishers}}
			<tr>
				<td>{{publisherName}}</td>
				<td>{{headquarters}}</td>
				<td><button class="editbtn" title="click to edit entry" onclick="location.href='/publishers/edit?id={{publisherID}}';">edit</button></td>
				<td><button class="removebtn" title="click to remove entry"  onclick="location.href='/publishers/delete?id={{publisherID}}';">remove</button></td>
			</tr>
		{{/each}}
		</tbody>
    </table>
    <br>
    <button class="addbtn" onclick="location.href='/publishers/add';" title="click to add entry">add</button>
</html>